{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}
    <h1>Créer une tâche</h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
